* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template: 
        "left_top ..... top    ....." 60px
        "left_top ..... center ....." 100px
        "left     ..... center ....." 1fr
        "left     ..... .....  ....." 10px
    /    300px    10px  1fr    10px;
    background-color: #001B24;
    position: relative;
}

header {
    grid-area: left_top;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FABD00;
}

header>img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    box-shadow: -3px 5px #CCE1DA;
    border-radius: 50%;
}

header>div {
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div>h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001B24;
    text-shadow: -3px 5px #CCE1DA;
}

header>div>p {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001B24;
    text-shadow: -3px 5px #CCE1DA;
}

nav {
    grid-area: left;
    background-color: #FABD00;
    display: flex;
    flex-direction: column;
}

#add_map_btn {
    margin: 0px auto 20px;
    width: 280px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: -3px 5px #001B24;
    background-color: #25D195;
    color: #001B24;
    text-shadow: -1px 1px #CCE1DA;
}

#add_map_btn:hover {
    cursor: pointer;
    background-color: #CCE1DA;
}

#add_map_btn:active {
    box-shadow: none;
    transform: translate(-3px, 5px);
}

#map_list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#map_list>li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px 10px 10px;
    text-align: left;
    padding: 10px 5px;
    line-height: 20px;
    color: #001B24;
    text-shadow: -1px 1px #CCE1DA;
    cursor: pointer;;
}

#map_list>li:not(.selected_map_item) {
    border-bottom: 5px solid #FABD00;
    border-left: 3px solid #FABD00;
}

#map_list>li:not(.selected_map_item):hover {
    transform: translate(3px, -5px);
    border-bottom: 5px solid #001B24;
    border-left: 3px solid #001B24;
    background-color: #ffcc33;
}

#map_list>li:not(.selected_map_item):active {
    border-bottom: 5px solid #FABD00;
    border-left: 3px solid #FABD00;
    transform: translate(-3px, 5px);
}

.selected_map_item {
    border-left: 3px solid #001B24;
    border-bottom: 5px solid #001B24;
}

.selected_map_item:hover {
    background-color: #ffcc33;
}

.selected_map_item:active {
    border-bottom: 5px solid #FABD00;
    border-left: 3px solid #FABD00;
    transform: translate(-3px, 5px);
}

aside {
    grid-area: top;
    display: flex;
    background-color: #FE6832;
}

#zoom_range {
    width: 50%;
    margin: auto 30px 20px 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #25D195;
    height: 5px;
    border-radius: 5px;
    box-shadow: -3px 5px #001B24;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
    background-color: #CCE1DA;
}

input[type="range"]::-moz-range-track {
    background-color: #25D195;
    height: 5px;
    border-radius: 10px;
    box-shadow: -3px 5px #001B24;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -8px;
    background-color: #25D195;
    border-radius: 50%;
    box-shadow: -3px 5px #001B24;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #CCE1DA;
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: -1px 2px #001B24;
    transform: translate(-2px, 3px);
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background-color: #25D195;
    border-radius: 50%;
    box-shadow: -3px 5px #001B24;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: #CCE1DA;
}

#display_zoom_range {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001B24;
    font-size: 18px;
    font-weight: bold;
    margin: auto auto 14px 0px;
    text-shadow: -1px 1px #CCE1DA;
}

main {
    grid-area: center;
    overflow: auto;
}

.map_img {
    width: 1580px;
    height: auto;
}

/* 新規Map登録モーダル */
/* Map登録編集モーダル */
.map_area_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.map_overlay_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.map_body_modal{
    width: 100%;
    height: 100%;
    display: flex;
}

.map_form_modal{
    background: #FABD00;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: -15px 20px #001B24;
}

.map_close_modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(305px, -220px);
    -webkit-transform: translate(305px, -220px);
    -ms-transform: translate(305px, -220px);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 15px 0px;
    overflow: hidden;
}

.map_overlay_modal,
.map_close_modal {
    cursor: default;
}

.map_form_modal>p,
.map_form_modal>input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 80px;
}
.map_form_modal>p{
    font-size: 24px;
    font-weight: bold;
}
.map_form_modal>input {
    font-size: 18px;
    width: 440px;
}
.map_name_label {
    top: 50px
}
.map_name {
    top: 85px
}
.map_path_label{
    top: 170px
}
.map_path{
    top: 205px
}
.modal_button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: -3px 5px #001B24;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    color: #001B24;
    font-weight: bold;
}

.modal_button:hover{
    cursor: pointer;
}

.modal_button:active {
    box-shadow: none;
    transform: translate(-3px, 5px);
}

#create_map_cancel{
    left: 130px;
    background: grey;
}

#create_map_register {
    left: 350px;
    background: #25D195;
}

#edit_map_delete{
    left: 80px;
    background: #FE6832;
}

#edit_map_cancel{
    left: 240px;
    background: grey;
}

#edit_map_update {
    left: 400px;
    background: #25D195;
}


@media screen and (max-width: 600px) {
    #create_map_form{
        left: 0;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
    }
    #create_map_area_close {
        left: 0;
        transform: translate(605px, -220px);
        -webkit-transform: translate(605px, -220px);
        -ms-transform: translate(605px, -220px);
    }
}

@media screen and (max-height: 400px) {
    #create_map_form{
        top: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
    }
    #create_map_area_close {
        top: 0;
        transform: translate(305px, -20px);
        -webkit-transform: translate(305px, -20px);
        -ms-transform: translate(305px, -20px);
    }
}



/* 共通 */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: #001B24;
    border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
    background-color: hsl(195, 100%, 15%);
}
 
::-webkit-scrollbar-thumb {
    background-color: #25D195;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #CCE1DA;
}